admin/node_modules/
admin/dist/
admin/.env.local
backend/data/*.db
backend/data/*.db-journal
backend/*.exe
backend/*.exe~
*.exe~
密码.md
mobile/Library/
mobile/Temp/
mobile/Logs/
mobile/UserSettings/
mobile/obj/
mobile/*.csproj
mobile/*.sln
mobile/*.userprefs
*.apk
.DS_Store
Thumbs.db
